
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
    height: 100%;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 3rem;
}

nav {
  
    text-align: center;
    background-color: #333;
    padding: 10px 0;
   
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.2rem;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #575757;
    border-radius: 5px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

p {
    font-size: 1.2rem;
    margin-top: 20px;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
    margin-top: 40px;
    position: absolute;
    bottom: 0;
    width: 100%;
    left:  0;
   
}

